/*
* Colors copied from a color palette got at Colour Lovers
*
* This is the palette:
* http://www.colourlovers.com/palette/848743/(%E2%97%95_%E2%80%9D_%E2%97%95)
*/

$confetti: #490A3D;
$sugar-heart: #BD1550;
$cocktail: #E97F02;
$euphoria: #F8CA00;
$balloon: #8A9B0F;
