/*
* Colors copied from a color palette got at Colour Lovers
*
* This is the palette: http://www.colourlovers.com/palette/443995/i_demand_a_pancake
*
*/

$ash: #594F4F;
$sea: #547980;
$cobalt: #45ADA8;
$grass: #9DE0AD;
$lichen: #E5FCC2;
