.fa-calendar {
  width: 16px;
}

.date-field-container {
  .form-control {
    font-size: 20px;
  }
}

.date-field__date {
  // Setting display: none is not valid
  // as later we won't be able programatically
  // launch the date-picker
  position: absolute;
  top: -9999px;
  left: -9999px;
}
