.date-field-container {
  position: static;
}
.date-field__date {
  // Setting display: none is not valid
  // as later we won't be able programatically
  // launch the date-picker
  position: absolute;
  top: -111px;
}
